@page
@model KaberdinCourseiLearning.Areas.User.Pages.ProfileModel
@{
}
<link href="~/lib/dropzone/min/basic.min.css" rel="stylesheet" />
<link href="~/lib/dropzone/min/dropzone.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div id="Collections" class="col-md-9">
            <div class="row">
                <h1>Collections</h1>
            </div>
            <div class="row">
                collection
            </div>
        </div>
        <div id="ProfileInfo" class="col-md-3 order-first order-md-0 text-center">
            <div class="row">
                <div class="card m-auto" style="width:18rem;">
                    <h4 id="UserName" class="m-auto">@Model.PageUser.UserName</h4>
                    <div id="ProfilePicture">
                        @if (System.IO.File.Exists(Model.AvatarPath))
                        {
                            var image = Model.PageUser.Id + ".png";
                            <img src="~/images/User/Avatar/@image" class="img-thumbnail" alt="..." style="width:205px;">
                        }
                        else
                        {
                            <img src="~/images/thumb_user_default.png" class="img-thumbnail" alt="..." style="width:205px;">
                        }
                        @if (Model.PermittedToChange)
                        {
                            <button type="button" id="AvatarChange" class="btn bg-transparent position-absolute" style="display:none;" data-toggle="modal" data-target="#AvatarModal">
                                <i class="far fa-edit"></i>
                            </button>
                        }
                    </div>
                    <div class="card-footer" id="ProfileDescription" style="position:relative;">
                        <div class="card-text" id="DescriptionContent">
                            <p class="text-break text-wrap text-truncate" style="max-height: 80px;">@Model.PageUser.HomePage.Description</p>
                        </div>
                        @if (Model.PermittedToChange)
                        {
                            <button type="button" id="DescChange" class="btn bg-transparent position-absolute" style="display:none; top:0; right:0;">
                                <i class="far fa-edit"></i>
                            </button>
                            <button type="button" id="DescAccept" class="btn bg-transparent position-absolute" style="display:none; top:0; right:0;">
                                <i class="far fa-check-square"></i>
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.PermittedToChange)
    {
        <div class="modal fade" id="AvatarModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Upload your new avatar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="dropzone" id="AvatarDropzone" method="post" asp-page-handler="UploadAvatar"></form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/lib/dropzone/min/dropzone.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Profile.js"></script>