@using KaberdinCourseiLearning.Data.Models;
@inject SignInManager<CustomUser> SignInManager

<ul class="nav nav-pills flex-column" id="Plan">
    <li class="btn btn-primary" id="PlanCollection">Collection</li>
    <li class="btn" id="PlanItems">Items</li>
    <li class="btn" id="PlanPublish">Publish</li>
</ul>
