#ClonableComment
{
    display:none;
}
.Avatar{
    width:40px;
    height:40px;
}
.CommentBoxContent {
    overflow:scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    resize:vertical;
    min-height:7rem;
}

.CommentBoxContent::-webkit-scrollbar {
    display: none;
}
