@using Microsoft.AspNetCore.Identity
@using KaberdinCourseiLearning.Areas.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <ul class="navbar-nav">
        @{IdentityUser currentUser = await UserManager.GetUserAsync(User);}
        @if (SignInManager.IsSignedIn(User) && currentUser != null)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
            </li>
            if (await UserManager.IsInRoleAsync(currentUser, "Administrator"))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/AdminPanel">Admin-panel</a>
                </li>
            }
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
    <ul class="navbar-nav flex-grow-1">
        @if (SignInManager.IsSignedIn(User) && currentUser != null)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="User" asp-page="/Profile" asp-route-name="@currentUser.UserName">My page</a>
            </li>
        }
    </ul>
