@using Microsoft.AspNetCore.Identity
@using KaberdinCourseiLearning.Data.Models;
@using KaberdinCourseiLearning.Managers;
@inject SignInManager<CustomUser> SignInManager
@inject CustomUserManager UserManager


    <a href="#" role="button" style="display:inline-block" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @{
            string picture;
            CustomUser currentUser = null;
            if (SignInManager.IsSignedIn(User))
            {
                currentUser = await UserManager.GetUserAsync(User);
                picture = currentUser.AvatarUrl;
            }
            else
            {
                picture = "https://res.cloudinary.com/ilearningcourse/image/upload/v1610032591/Avatar/default.webp";
            }
        }
        <img class="img-fluid rounded-circle" height="40" width="40" src="@picture" />
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-5px, 38px, 0px);">
        @{
            if (SignInManager.IsSignedIn(User))
            {
                <p class="dropdown-header text-center">@currentUser.UserName</p>
                <div class="dropdown-divider"></div>
                <a class="nav-link" asp-area="User" asp-page="/Profile" asp-route-name="@currentUser.UserName"><i class="fa fa-home"></i> My page</a>
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa fa-cog"></i> Settings</a>
                if (await UserManager.IsInRoleAsync(currentUser, RoleNames.ROLE_ADMINISTRATOR))
                {
                    <a class="nav-link" asp-area="" asp-page="/AdminPanel"><i class="fa fa-hammer"></i> Admin-panel</a>
                }
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            }
            else
            {
                <p class="dropdown-header text-center">Guest</p>
                <div class="dropdown-divider"></div>
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user-plus"></i> Register</a>
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i> Login</a>
            }
        }
    </div>
